<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Product</title>
    <link rel="stylesheet" href="@{/css/style.css}">
</head>
<body>

<h1>Add New Product</h1>

<form action="/admin/products/add" method="post" th:object="${product}">
    <div>
        <label for="modelId">Model Id:</label>
        <input type="text" id="modelId" name="modelId" th:field="*{modelId}" required />
    </div>

    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:field="*{title}" required />
    </div>

    <div>
        <label for="photoUrl">Photo URL:</label>
        <input type="text" id="photoUrl" name="photoUrl" th:field="*{photoUrl}" required />
    </div>

    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" th:field="*{price}" step="any" required />
    </div>

    <div>
        <label for="deliveryPrice">Delivery Price:</label>
        <input type="number" id="deliveryPrice" name="deliveryPrice" th:field="*{deliveryPrice}" step="any" required />
    </div>

    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" th:field="*{description}" required></textarea>
    </div>

    <div>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" th:field="*{quantity}" required />
    </div>

    <div>
        <label for="details">details:</label>
        <textarea id="details" name="details" th:field="*{details}" required></textarea>
    </div>

    <button type="submit">Add Product</button>
</form>

<a href="/admin" class="button">Back to Homepage</a>

</body>
</html>
