<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean name="puchatek" class="pl.edu.ug.ap.mvcdemo.domain.Person">-->
<!--        <property name="firstName" value="Joe"/>-->
<!--        <property name="yob" value="1978"/>-->
<!--    </bean>-->

<!--    <bean class="pl.edu.ug.ap.mvcdemo.domain.Person">-->
<!--        <constructor-arg name="firstName" value="Jan"/>-->
<!--        <constructor-arg name="yob" value="1945"/>-->

<!--    </bean>-->
</beans>
