<div class="product" th:fragment="productCard (product)">
  <div th:text="${product.getTitle()}"></div>
  <img th:src="${product.getPhotoUrl()}" th:alt="${product.getTitle()}">
  <div th:text="${'Price: ' + product.getPrice() + '$'}"></div>
  <div th:text="${'Delivery price: ' + product.getDeliveryPrice() + '$'}"></div>
  <div th:text="${'Quantity: ' + product.getQuantity()}"></div>
  <div> Description: </div>
  <div th:text="${product.getDescription()}"></div>
  <div> Average rating: </div>
  <th:block th:if="${product.getAverageRating() == 0}">
    <p>No reviews yet</p>
    <a class="button" th:href="@{'/admin/products/' + ${product.getProductId()} + '/reviews/add'}">Add review</a>
  </th:block>
  <th:block th:if="${product.getAverageRating() > 0}">
    <span th:each="star : ${#numbers.sequence(1, product.getAverageRating())}">⭐</span>
    <a class="reviews" th:href="@{'/admin/products/' + ${product.getProductId()} + '/reviews'}">Reviews</a>
  </th:block>
  <a class="details" th:href="@{/products/{id}(id=${product.getProductId()})}">Details</a>
  <a class="addToCard" th:href="@{/cart/add/{id}(id=${product.getProductId()})}">Add to cart</a>
  <a class="edit" th:href="@{/admin/products/edit/{id}(id=${product.getProductId()})}">Edit</a>
  <a class="delete" th:href="@{/admin/products/delete/{id}(id=${product.getProductId()})}">Delete</a>
</div>

