<div class="cart" th:fragment="cartComponent(cart)">
    <h1>Shopping Cart</h1>
    <div>
        <h2>Your Cart</h2>

        <div th:if="${cart.isEmpty()}">
            <p>Your cart is empty.</p>
        </div>

        <div th:if="${not cart.isEmpty()}">
            <div th:each="product : ${cart.getItems()}">
                <div th:replace="~{fragments/productCard :: productCard(product=${product})}"></div>
            </div>
            <p>Total: <span th:text="${'$' + cart.getTotal()}"></span></p>
            <a class="button" th:href="@{/checkout}">Proceed to Checkout</a>
        </div>
    </div>

</div>
