<div th:fragment="modelsFilter (availableModels, modelsFilterForm)">
<form action="/products/model-filter" th:object="${modelsFilterForm}" method="post">
  <div>
    <label for="modelFilter">Select Model:</label>
    <select id="modelFilter" name="modelFilter" th:field="*{selectedModel}" onchange="this.form.submit()">
      <option value="all">All Models</option>
      <option th:each="model : ${availableModels}" th:value="${model}" th:text="${model}"></option>
    </select>
  </div>
</form>
</div>