<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
  <meta charset="UTF-8" />
  <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
  <div class="product" th:fragment="productCard (product)">
    <div th:text="${product.title}"></div>
    <img th:src="${product.photoUrl}" th:alt="${product.title}">
    <div th:text="${'Price: ' + product.price + '$'}"></div>
    <div th:text="${'Delivery price: ' + product.deliveryPrice + '$'}"></div>
    <div th:text="${'Quantity: ' + product.quantity}"></div>
    <div> Description: </div>
    <div th:text="${product.description}"></div>
    <div> Average rating: </div>
    <th:block th:if="${product.averageRating == 0}">
      <p>No reviews yet</p>
      <a class="button" th:href="@{'/products/' + ${product.productId} + '/reviews/add'}">Add review</a>
    </th:block>
    <th:block th:if="${product.averageRating > 0}">
      <span th:each="star : ${#numbers.sequence(1, product.averageRating)}">⭐</span>
      <a class="reviews" th:href="@{'/products/' + ${product.productId} + '/reviews'}">Reviews</a>
    </th:block>
    <a class="details" th:href="@{/products/{id}(id=${product.productId})}">Details</a>
    <a class="delete" th:href="@{/products/delete/{id}(id=${product.productId})}">Delete</a>
    <a class="edit" th:href="@{/products/edit/{id}(id=${product.productId})}">Edit</a>
  </div>
</body>
</html>