<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Shop</title>
  <link rel="stylesheet"  th:href="@{/css/style.css}"/>
</head>
<body>

<div th:if="${successMessage}">
  <div th:text="${successMessage}" />
</div>

<h1>Shop</h1>

<div th:if="${errorMessage}">
  <p th:text="${errorMessage}" ></p>
</div>

<div class="container">
  <h2 th:text="${'Add Review for ' + product.getTitle()}"></h2>
  <form th:action="@{'/products/' + ${product.getProductId()} + '/add-review'}" method="post" th:object="${review}">
    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" class="form-control" id="author" name="author" th:field="*{author}" required>
    </div>
    <div class="form-group">
      <label for="rating">Rating (1 to 5):</label>
      <input type="number" class="form-control" id="rating" name="rating" th:field="*{rating}" min="1" max="5" required>
    </div>
    <div class="form-group">
      <label for="content">Review Content:</label>
      <textarea class="form-control" id="content" name="content" th:field="*{content}" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Review</button>
  </form>
</div>

</body>
</html>
