<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="left">
    <div th:replace="~{fragments/cart :: cartComponent(cart=${cart})}"></div>
</div>

<div class="right">
    <h1>Checkout</h1>
    <form th:action="@{/cart/checkout}" method="post" th:object="${deliveryForm}">
        <div>
            <label for="deliveryMethod">Delivery Method:</label>
            <select id="deliveryMethod" name="deliveryMethod" th:field="*{deliveryMethod}">
                <option value="courier">Courier</option>
                <option value="parcelLocker">Parcel Locker</option>
            </select>
            <span th:if="${#fields.hasErrors('deliveryMethod')}" th:errors="*{deliveryMethod}" class="error-message"></span>
        </div>

        <div>
            <label for="street">Street:</label>
            <input type="text" id="street" name="street" th:field="*{street}" />
            <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="error-message"></span>
        </div>

        <div>
            <label for="houseNumber">House Number:</label>
            <input type="text" id="houseNumber" name="houseNumber" th:field="*{houseNumber}" />
            <span th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}" class="error-message"></span>
        </div>

        <div>
            <label for="apartmentNumber">Apartment Number:</label>
            <input type="text" id="apartmentNumber" name="apartmentNumber" th:field="*{apartmentNumber}" />
            <span th:if="${#fields.hasErrors('apartmentNumber')}" th:errors="*{apartmentNumber}" class="error-message"></span>
        </div>

        <div>
            <label for="postalCode">Postal Code:</label>
            <input type="text" id="postalCode" name="postalCode" th:field="*{postalCode}" />
            <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error-message"></span>
        </div>

        <div>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" th:field="*{city}" />
            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error-message"></span>
        </div>

        <button type="submit">Place Order</button>
    </form>
</div>

</body>
</html>
