<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Shop</title>
  <link rel="stylesheet"  th:href="@{/css/style.css}"/>
</head>
<body>
<div class="left">
  <div th:if="${errorMessage}" class="error-message">
    <p th:text="${errorMessage}"></p>
  </div>
  <a href="/admin" class="button">OŚWIADCZAM, ZE JESTEM ADMINISTRATOREM</a>
  <h1>Shop</h1>
  <div class="all-products-container" >
    <div th:if="${allProducts.isEmpty()}">
      <p> no products by this model</p>
    </div>
    <div th:each="product : ${allProducts}">
      <div th:replace="~{fragments/productCard :: productCard(product=${product})}"></div>
    </div>
  </div>
</div>
<div class="right">
  <div th:replace="~{fragments/cart :: cartComponent(cart=${cart})}"></div>
  </div>


</body>
</html>
