<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Shop</title>
  <link rel="stylesheet"  th:href="@{/css/style.css}"/>
</head>
<body>

<div th:if="${successMessage}">
  <div th:text="${successMessage}" />
</div>

<h1>All furniture</h1>

<div th:if="${errorMessage}">
  <p th:text="${errorMessage}" ></p>
</div>

<div class="all-furniture-container">
  <div class="furniture" th:each="product : ${allProducts}">
    <div th:text="${product.title}"></div>
    <div th:text="${product.photo}"></div>
    <div th:text="${product.price}"></div>
    <div th:text="${product.deliveryPrice}"></div>
    <a class="details" th:href="@{/products/{id}(id=${product.productId})}">Details</a>
    <a class="delete" th:href="@{/products/delete/{id}(id=${product.productId})}">Delete</a>
    <a class="edit" th:href="@{/products/edit/{id}(id=${product.productId})}">Edit</a>
  </div>
</div>
<a class="button" th:href="@{/furniture/form}">Add new furniture</a>

</body>
</html>
