<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product edit</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<h1>Product Details</h1>

<div class="container" th:object="${product}">
    <div th:text="${product.getTitle()}"></div>
    <img th:src="${product.getPhotoUrl()}" th:alt="${product.getTitle()}">
    <div th:text="${'Price: ' + product.getPrice() + '$'}"></div>
    <div th:text="${'Delivery price: ' + product.getDeliveryPrice() + '$'}"></div>
    <div th:text="${'Quantity: ' + product.getQuantity()}"></div>
    <div> Description: </div>
    <div th:text="${product.getDescription()}"></div>
    <div> Average rating: </div>
    <th:block th:if="${product.getAverageRating() == 0}">
        <p>No reviews yet</p>
        <a class="button" th:href="@{'/products/' + ${product.getProductId()} + '/reviews/add'}">Add review</a>
    </th:block>
    <th:block th:if="${product.getAverageRating() > 0}">
        <span th:each="star : ${#numbers.sequence(1, product.getAverageRating())}">⭐</span>
        <a class="reviews" th:href="@{'/products/' + ${product.getProductId()} + '/reviews'}">Reviews</a>
    </th:block>
    <div th:text="${product.getDetails()}"></div>
    <a class="addToCard" th:href="@{/cart/add/{id}(id=${product.getProductId()})}">Add to cart</a>
    <a th:href="@{/}">Go back to homepage</a>
</div>
</body>
</html>
